html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-image: url(https://hexschool.github.io/js-filter/assets/bg.jpg);
  background-size: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1% 5%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

.header {
  height: 80px;
  width: 930px;
}
.header .logo {
  width: 70%;
  height: 80px;
  background-image: url(https://hexschool.github.io/js-filter/assets/logo.jpg);
  background-repeat: no-repeat;
  align-self: start;
}

.content {
  width: 100%;
  max-width: 930px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px #FFFCEF, inset 0 0 0 4px #F8D45A;
  background: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}
.content .filter {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.content .filter button {
  background: #FFF;
  border: 2px solid #2A2A2A;
  width: 28%;
  height: 40px;
  box-sizing: border-box;
  padding: 5px 0.5%;
  color: #2A2A2A;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: 0 1px 0 #2A2A2A;
  cursor: pointer;
}
.content .search {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  width: 60%;
  font-size: 1rem;
}
.content .search .input {
  display: flex;
  width: 90%;
}
.content .search .input lebal {
  background: #899E39;
  color: #FFF;
  border-radius: 5px 0 0 5px;
  margin-right: 0;
  padding: 0 4%;
  font-weight: 500;
  width: 35%;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
}
.content .search .input input {
  border: 2px solid #899E39;
  padding: 2.5% 6%;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  width: 55%;
  height: 40px;
  box-sizing: border-box;
}
.content .search .input input:focus {
  outline: none;
}
.content .search button {
  background: #899E39;
  color: #FFF;
  border: none;
  width: 35%;
  height: 40px;
  border-radius: 5px;
  padding: 1%;
  font-size: 1rem;
  font-weight: 700;
}
.content .sort {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.content .sort p {
  color: #2A2A2A;
  font-weight: bold;
  line-height: 0;
}
.content .sort select {
  width: 150px;
  height: 40px;
  padding: 10px;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  color: #2A2A2A;
  letter-spacing: 1px;
  font-size: 16px;
}
.content .sort select:after {
  display: block;
  content: "";
  border: 1px solid;
  width: 100px;
  height: 100px;
  background: red;
}
.content .table {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.content .table .table-header {
  width: 100%;
  border-collapse: collapse;
}
.content .table .table-header th {
  background: #F4F1EA;
  width: 12.4%;
  padding: 0 2%;
  box-sizing: border-box;
  border-top: 2px solid #2A2A2A;
  border-bottom: 2px solid #2A2A2A;
  text-align: left;
}
.content .table .table-header th .advanced-sort {
  display: flex;
  position: relative;
  align-items: center;
}
.content .table .table-header th .advanced-sort .icon {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.content .table .table-header th .advanced-sort .icon i {
  line-height: 0.8;
}
.content .table .table-header th.name {
  width: 21%;
}
.content .table .table-header th.market {
  width: 17%;
}
.content .table .list {
  width: 100%;
  height: 500px;
  padding-right: 16px;
}
.content .table .list table {
  width: 100%;
  border-collapse: collapse;
}
.content .table .list table tr {
  padding-right: -16px;
}
.content .table .list table tr td {
  width: 12.4%;
  padding: 2% 2%;
  border-bottom: 1px solid #9A9A9A;
}
.content .table .list table tr td.name {
  width: 21%;
}
.content .table .list table tr td.market {
  width: 17%;
}
.content .table .list table tr td.message {
  text-align: center;
}

.filter button.active,
.filter button:hover {
  background: #F8D45A;
}

button,
select,
i {
  cursor: pointer;
}

@media (max-width: 414px) {
  .header .logo {
    width: 100%;
    background-image: url(https://hexschool.github.io/js-filter/assets/logo-sm.jpg);
    background-position: center center;
  }

  .content {
    height: 80%;
    padding: 10px;
    box-shadow: 0 0 0 6px #FFFCEF, inset 0 0 0 2px #F8D45A;
  }
  .content .filter {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .content .filter button {
    width: 33%;
  }
  .content .search {
    flex-direction: column;
    width: 100%;
  }
  .content .search .input {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .content .search .input input {
    height: 40px;
    width: 70%;
  }
  .content .search button {
    height: 40px;
    width: 100%;
  }
  .content .sort {
    order: 5;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    font-size: 12px;
  }
  .content .sort select {
    border-radius: 50px;
    width: 30%;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 5px;
  }
  .content .table {
    height: 80%;
    font-size: 10px;
  }
  .content .table .table-header th {
    padding: 0 1%;
  }
  .content .table .table-header th .advanced-sort .icon {
    display: none;
  }
  .content .table .list table td {
    padding: 0 1%;
  }
}/*# sourceMappingURL=style.css.map */